@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.lato {
  font-family: 'Lato', sans-serif;
}

@media (min-width: 700px) {
  .hide-large {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .hide-small {
    display: none !important;
  }
}


.fade-colour-transition-down {
  animation-name: colour-fade-down;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.fade-colour-transition-up {
  animation-name: colour-fade-up;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.image-larger-down {
  animation: image-large-down;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.image-smaller-up {
  animation: image-small-up;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.image-fade-in {
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 20%;
  }

  40% {
    opacity: 40%;
  }

  60% {
    opacity: 60%;
  }

  80% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes image-small-up {
  5% {
    width: calc(80vw * 1.11);
    height: calc(80vh * 1.11);
  }

  15% {
    width: calc(80vw * 1.1);
    height: calc(80vh * 1.1);
  }

  25% {
    width: calc(80vw * 1.09);
    height: calc(80vh * 1.09);
  }

  35% {
    width: calc(80vw * 1.08);
    height: calc(80vh * 1.08);
  }

  45% {
    width: calc(80vw * 1.07);
    height: calc(80vh * 1.07);
  }

  55% {
    width: calc(80vw * 1.06);
    height: calc(80vh * 1.06);
  }

  65% {
    width: calc(80vw * 1.05);
    height: calc(80vh * 1.05);
  }

  75% {
    width: calc(80vw * 1.04);
    height: calc(80vh * 1.04);
  }

  85% {
    width: calc(80vw * 1.03);
    height: calc(80vh * 1.03);
  }

  95% {
    width: calc(80vw * 1.02);
    height: calc(80vh * 1.02);
  }

  100% {
    width: calc(80vw * 1.01);
    height: calc(80vh * 1.01);
  }
}

@keyframes image-large-down {
  5% {
    width: calc(80vw * 1.01);
    height: calc(80vh * 1.01);
  }

  15% {
    width: calc(80vw * 1.02);
    height: calc(80vh * 1.02);
  }

  25% {
    width: calc(80vw * 1.03);
    height: calc(80vh * 1.03);
  }

  35% {
    width: calc(80vw * 1.04);
    height: calc(80vh * 1.04);
  }

  45% {
    width: calc(80vw * 1.05);
    height: calc(80vh * 1.05);
  }

  55% {
    width: calc(80vw * 1.06);
    height: calc(80vh * 1.06);
  }

  65% {
    width: calc(80vw * 1.07);
    height: calc(80vh * 1.07);
  }

  75% {
    width: calc(80vw * 1.08);
    height: calc(80vh * 1.08);
  }

  85% {
    width: calc(80vw * 1.09);
    height: calc(80vh * 1.09);
  }

  95% {
    width: calc(80vw * 1.1);
    height: calc(80vh * 1.1);
  }

  100% {
    width: calc(80vw * 1.11);
    height: calc(80vh * 1.11);
  }
}

@keyframes colour-fade-down {
  5% {
    background-color: #f57c76;
  }

  15% {
    background-color: #925452;
  }

  25% {
    background-color: #88504F;
  }

  35% {
    background-color: #754948;
  }

  45% {
    background-color: #634141;
  }

  55% {
    background-color: #5B3E3E;
  }

  65% {
    background-color: #523A3C;
  }

  75% {
    background-color: #483637;
  }


  85% {
    background-color: #36292a;
  }

  95% {
    background-color: #282122;
  }

  100% {
    background-color: #282122;
  }
}

/* #f57c76 */
@keyframes colour-fade-up {
  5% {
    background-color: #282122;
  }

  15% {
    background-color: #282122;

  }

  25% {
    background-color: #36292a;

  }

  35% {
    background-color: #483637;

  }

  45% {
    background-color: #523A3C;

  }

  55% {
    background-color: #5B3E3E;
  }

  65% {

    background-color: #634141;

  }

  75% {
    background-color: #754948;


  }


  85% {
    background-color: #88504F;


  }

  95% {

    background-color: #925452;

  }

  100% {
    background-color: #f57c76;

  }
}

/* .text-scroll-down-1 {
  animation-name: scroll-down-1;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.text-scroll-up-1 {
  animation-name: scroll-up-1;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
} */
/* 
@keyframes scroll-down-1 {
  0% {
    margin-top: 10vh
  }

  25% {
    margin-top: 7.5vh
  }

  50% {
    margin-top: 5vh
  }

  75% {
    margin-top: 2.5vh
  }

  100% {
    margin-top: 0vh
  }
}

@keyframes scroll-up-1 {
  0% {
    margin-top: 0vh
  }

  25% {
    margin-top: 2.5vh
  }

  50% {
    margin-top: 5vh
  }

  75% {
    margin-top: 7.5vh
  }

  100% {
    margin-top: 10vh
  }
}

.text-scroll-down-2 {
  animation-name: scroll-down-2;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.text-scroll-up-2 {
  animation-name: scroll-up-2;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

@keyframes scroll-down-2 {
  0% {
    margin-top: 20vh
  }

  25% {
    margin-top: 15vh
  }

  50% {
    margin-top: 10vh
  }

  75% {
    margin-top: 5vh
  }

  100% {
    margin-top: 0vh
  }
}

@keyframes scroll-up-2 {
  0% {
    margin-top: 0vh
  }

  25% {
    margin-top: 5vh
  }

  50% {
    margin-top: 10vh
  }

  75% {
    margin-top: 15vh
  }

  0% {
    margin-top: 20vh
  }

}

.text-scroll-down-3 {
  animation-name: scroll-down-3;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.text-scroll-up-3 {
  animation-name: scroll-up-3;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

@keyframes scroll-down-3 {
  0% {
    margin-top: 50vh
  }

  25% {
    margin-top: 37.5vh
  }

  50% {
    margin-top: 25vh
  }

  75% {
    margin-top: 12.5vh
  }

  100% {
    margin-top: 0vh
  }
}


@keyframes scroll-up-3 {
  0% {
    margin-top: 0vh
  }

  25% {
    margin-top: 12.5vh
  }

  50% {
    margin-top: 25vh
  }

  75% {
    margin-top: 37.5vh
  }

  100% {
    margin-top: 50vh
  }

} */

html {
  scroll-behavior: smooth;
}